footer {
  background-color: var(--neutral-800, #2b2b32);
  color: var(--neutral-300, #eee);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0 0 1rem;
  line-height: 1.6;
}

footer .footer a:any-link {
  color: var(--neutral-300, #eee);
}

footer .footer a:hover {
  color: var(--neutral-0, #fff);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
